<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <% users.forEach(function(user) { %>
        <div class="container">
            <h1><%= user.lastname %>  <%= user.firstname %></h1>
            <p><%= user.email %></p>
            <p><%= user.city %></p>
            <p><%= user.language %></p>
        </div>
    <% }) %>
</body>
</body>
</html>